<div class="main-container" [style.background-color]="backgroundColor.string">
  <div *ngIf="timerQueue">
    <div *ngFor="let entry of timerQueue.entries">
      {{entry.title}}
    </div>
  </div>
  <span class="sno-timer">{{remainingTimeString}}</span>
  <div class="bottom-buttons-container">
    <button mat-icon-button (click)="stopTimer()" *ngIf="isActive">
      <mat-icon>
        pause
      </mat-icon>
    </button>
    <button mat-icon-button (click)="startTimer()" *ngIf="!isActive">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
  </div>
</div>